<div>
    <h1>{{location_signature}}</h1>
    <table>
        {{#each trains}}
            <tr>
                <td>{{this.train_ident}}</td>
                <td>{{this.to_location}}</td>
                <td>{{this.activity_type}}</td>
                <td>{{this.advertised_time}}</td>
                <td>{{this.time_at_location}}</td>
            </tr>
        {{/each}}
    </table>
</div>